<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="Shortcut Icon" href=images/icon.png>
    <title>创意街</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.css">
	</head>
	<body>
    <nav class="navbar navbar-inverse" style="margin-bottom:0px">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Idea Street</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span><span class="sr-only">(current)</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-star"> 周五佳</span></a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="发现点子">
              
            </div>
            <button type="submit"  class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">提交创意</a></li>
            <li><a href="#">登录</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <img src="images/header.jpg" style="width:100%">
    <img src="images/idea-homepage.png" style="width:100%;margin-bottom:10px">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b id="ideaTitle"></b>——<small id="ideaContributor"></small></h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img id="ideaImg" src="" style="height:150px;width:150px;" alt="此处应有图片">
                        <div class="caption">
                            <h4>
                                <b id="ideaDetails"></b>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-like"><span id="ideaSupportNum" class="glyphicon glyphicon-thumbs-up"></span></button>
                    <button type="button" class="btn btn-dislike"><span id="ideaNonSupportNum" class="glyphicon glyphicon-thumbs-down"></span></button>
                </div>
            </div>
        </div>
    </div>

    <!--idea exhibition-->
    <script>
        var ideaT = "ideaTitle";
        var ideaC = "ideaContributor";
        var ideaI = "ideaImg";
        var ideaD = "ideaDetails";
        var ideaS = "ideaSupportNum";
        var ideaN = "ideaNonSupportNum";
        for (var i=0;i<ideaAll.length;i++)
        {
            //主页显示idea，包含主题（标题）、赞数、踩数、图片、贡献人。但不包含idea详情，详情于模态框显示
            document.write(
                '<div class="container-fluid">'
        + '<div class="col-sm-3">'
            +'<div class="thumbnail">'
                +'<img src="' + ideaAll[i].image_url + '" style="height:150px;width:150px;" alt="此处应有图片">'
                +'<div class="caption">'
                    +'<h4>'
                        + '<b>主题：' + ideaAll[i].title + '</b>'
                    +'</h4>'
                    +'<div class="text">'
                        +'<b>'
                            + '<span class="glyphicon glyphicon-thumbs-up" style="color: #CC3300;">' + ideaAll[i].supportNum.toString + '</span>'
                            + '<span class="glyphicon glyphicon-thumbs-down">' + ideaAll[i].nonSupportNum.toString + '</span>'
                        +'</b>'
                    +'</div>'
                    + '<div><small>' + ideaAll[i].contributor + '</small></div>'
                    +'<p>'
                        + '<button onclick="getElementById('+ideaT+').innerHTML=' + ideaAll[i].title
                        + '; getElementById('+ideaC+').innerHTML=' + ideaALL[i].contributor
                        + '; getElementById('+ideaI+').src=' + ideaAll[i].img_url
                        + '; getElementById('+ideaD+').innerHTML=' + ideaAll[i].details
                        + '; getElementById('+ideaS+').innerHTML=' + ideaAll[i].supportNum.toString
                        + '; getElementById('+ideaN+').innerHTML=' + ideaAll[i].nonSupportNum.toString
                        + ';" class="btn btn-info" role="button" data-toggle="modal" data-target="#myModal">查看全部 &raquo;</button>'
                    +'</p>'
                +'</div>'
            +'</div>'
        +'</div>'
    +'</div>'
                );
        }
    </script>

    <!--footer-->
    <footer>
    <div class="container">
        <hr style="color:gainsboro"/>
        <div class="row" style="color:darkgrey">
            <div class="text-left col-xs-8">
                <p>
                    © student.hit.edu.cn. 哈工大校团委 2005-2015
                </p>
            </div>
            <div class="text-right col-xs-4">
                <p>
                    <strong>Powered by </strong>胡文杰
                </p>
            </div>
        </div>  
    </div>
    </footer>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

	</body>
</html>